<%- include('layout/chatHeader') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Chat</title>
  <style>

.admin-message {
color: rgb(23, 55, 40);
background-color: rgb(185, 237, 179);
padding: 10px;
width: 98%;
margin-right: 5px;
text-align: center;
border-radius: 10px;
font-size: 20px;
text-align: right;
}

  body {
    font-family: Arial, sans-serif;
    background-color:rgb(163, 214, 157);
    padding: 20px;
    color: #000000;
    font-size: 20px;
  }

  body p {
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }

  h2 {
    color: #295d2e;
    text-align: center;
    margin-bottom: 20px;
  }

#chat-box {
width: 80%;
height: 380px;
border: 1px solid #ddd;
border-radius: 10px;
color:rgb(30, 35, 97);
background-color: rgb(255, 255, 255);
padding: 10px;
margin: 0 auto 20px;
overflow-y: scroll;
text-align: left; 
}


  input{
    min-height: 40px;
    font-size: 20px;
  }

  #message-input {
    flex-grow: 1; 
    padding: 5px;
    border: 5px solid #ddd;
    margin-right: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
  }

  button:hover {
    background-color: #4cae4c;
    transform: scale(1.5);
  }

  </style>
</head>
<body>
  <h2 style="margin-top: 20px;">ADMIN CHAT</h2>
  <div id="chat-box"></div>

  <input type="text" id="message-input" placeholder="Type your message">
  
  <button onclick="sendMessage()">Send</button>

  <script>
    const socket = new WebSocket(`ws://${window.location.host}`);
    const chatBox = document.getElementById('chat-box');
    const messageInput = document.getElementById('message-input');
  
    socket.onmessage = (event) => {
    
      const data = JSON.parse(event.data);
      
      const messageClass = data.sender === 'admin' ? 'admin-message' : 'user-message';
  
      chatBox.innerHTML += `<p class="${messageClass}">${data.message}</p>`;
      chatBox.scrollTop = chatBox.scrollHeight;
    };
  
    function sendMessage() {
      const messageInput = document.getElementById('message-input');
      const message = messageInput.value;
      if (message.trim() !== '') {

        socket.send(JSON.stringify({ sender: 'admin', message }));
        messageInput.value = '';
      }
    }
  
    messageInput.addEventListener('keypress', function (event) {
      if (event.key === 'Enter') {
        event.preventDefault(); 
        sendMessage();
      }
    });
  </script>



  
</body>
</html>
