
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

  <div class="form-container">
    <h2> User Login</h2>
    <form action="/Userlogin" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your username" required autocomplete="off">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="email" required>
        </div>
        <button type="submit" class="submit-btn">Login</button>
    </form>
    <p>Don't have an account? <a class="link" href="/add_patient">SignUp</a></p>
</div>
    
</body>
</html>